%h2 API References
%p
  Credit Card API is up and running.

  Features:
  %ul
    %li
      %a{href: '/api/v1/credit_card/validate/'}
        Credit Card Validation
    %li
      %a{href: '/api/v1/credit_card/'}
        Store Credit Card Information
    %li
      %a{href: '/api/v1/credit_card/all/'}
        List all Credit Cards
